<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>{{.Title}}</title>
</head>
<body>
    <h1 class="titre3">{{.Title}}</h1>
    <div class="container1">
        <div class="block1">
            <p class="page">Mot : {{.Wordpage}}</p>         
            <p class="page">Nombre d'essais : {{.Attemptspage}}</p>
            
            <form action="/page1" method="post">
                <input type="text" name="message" maxlength="1" required>
                <button type="submit">Envoyer</button>
            </form>
            
            <form action="/resethard" method="post">
                <button type="submit">Reset</button>
            </form>
        </div>
        <div class="block2">
            <p style="white-space: pre;"><pre>{{.HangmanPositionspage}}</pre></p>
        </div>
    </div>
    <br> <br>
    <a class="return" href="/">Retour à la page d'accueil</a>
</body>
</html>